body {
    background-color: lightgreen;
    font-family: Arial,
        sans-serif;
    color: brown;
    line-height: 1.6em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px 12px;
    border: 1px solid #ccc;
}

.gallery {
    margin: 0 auto;
}

#page-title {
    font-size: 3em;
    font-weight: 800;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: 800em;
    text-align: center;
}

h3 {
    font-size: 2em;
    font-weight: 600;
    text-align: left;
}

.intro {
    font-size: 1.8em;
    font-weight: 600;
    text-decoration-line: underline;
    text-align: center;
}

strong {
    color: goldenrod;
}

em {
    color: seagreen;
    text-decoration-line: line-through;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: hsla(51, 86%, 56%, 0.792);
}

ul,
ol {
    background: darkseagreen;
    color: green;
    font-size: 1.3em;
    font-style: italic;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

.card {
    color: #6678ff;
    padding: 20px;
    border: 2px solid #e0e0e0#e0e0e0;
    margin-bottom: 25px;

}
.gallery{
    max-width: 100%;
    padding: 10px;
    height: auto;
    border-radius: 6px;
}
